@import '../../../../styles/variables';
@import "theme.scss";

.legal-notice-text {
    color: $default-text-color;
  line-height: 1.2;

    a {
      color: $link-text-color;
      text-decoration: none;
    }
}
