<div class="application-confirm-removal">
    <div class="confirm-removal-message">
        Are you sure you want to remove {{name}}?
    </div>
    <div class="confirm-removal-buttons">
        <div class="field field-yes">
            <button class="button positive">Yes</button>
        </div>
        <div class="field field-no">
            <button class="button negative">No</button>
        </div>
    </div>
</div>