<div class="description">
    Trending keywords in past 24 hours (update every 30 minutes)
</div>
<ul class="horizontal-button-list">
    <li class="trending-tab-button-wrapper">
        <div class="trending-tab-button" data-keyword-type="hashtag"><i class="fa fa-slack"></i> Hashtags</div>
    </li>
    <li class="trending-tab-button-wrapper">
        <div class="trending-tab-button" data-keyword-type="cashtag"><i class="fa fa-usd"></i> Cashtags</div>
    </li>
    <li class="trending-tab-button-wrapper">
        <div class="trending-tab-button" data-keyword-type="all"><i class="fa fa-tags"></i> All tags</div>
    </li>
</ul>
<ul class="vertical-button-list">
	<li class="trending-button-wrapper"><div class="trending-button" data-graph-type="bar" title="Bar chart"><i class="fa fa-bar-chart-o"></i></div></li>
	<li class="trending-button-wrapper"><div class="trending-button" data-graph-type="line" title="Line chart"><i class="fa fa-line-chart"></i></div></li>
	<li class="trending-button-wrapper"><div class="trending-button" data-graph-type="pie" title="Donut chart"><i class="fa fa-circle-o"></i></div></li>
</ul>
<div class="canvas">
<div id="two-canvas"></div>
</div>