<div class="description">
    Most Active Users (recent posts in past 24 hours)
</div>
<div class="canvas">
<div id="two-canvas"></div>
</div>

<!--<ul class="horizontal-button-list">
	<li class="trending-tab-button-wrapper">
		<div class="trending-tab-button" data-people-type="talkers"><i class="fa fa-comments"></i> </div>
	</li>
	<li class="trending-tab-button-wrapper">
		<div class="trending-tab-button" data-people-type="popstars"><i class="fa fa-users"></i> Most Followers</div>
	</li>
	<li class="trending-tab-button-wrapper">
		<div class="trending-tab-button" data-people-type="rising"><i class="fa fa-star"></i> Gaining Followers</div>
	</li>
</ul> -->