<div class="description">
    Trending rooms in past 24 hours (update every 30 minutes)
</div>
<ul class="horizontal-button-list">
    <li class="trending-tab-button-wrapper">
        <div class="trending-tab-button" data-room-type="most_messages"><i class="fa fa-comments"></i> Most Active</div>
    </li>
    <li class="trending-tab-button-wrapper">
        <div class="trending-tab-button" data-room-type="most_members"><i class="fa fa-users"></i> Most Members</div>
    </li>
    {{!-- 	<li class="trending-tab-button-wrapper">
    <div class="trending-tab-button" data-room-type="mentions">+ all tags</div>
</li> --}}
</ul>
{{!-- <ul class="vertical-button-list">
	<li class="trending-button-wrapper"><div class="trending-button" data-graph-type="bar">B</div></li>
	<li class="trending-button-wrapper"><div class="trending-button" data-graph-type="line">L</div></li>
	<li class="trending-button-wrapper"><div class="trending-button" data-graph-type="pie">P</div></li>
</ul> --}}
<div class="canvas">
<div id="two-canvas"></div>
</div>
