<h3 class="upload-agree-header">File Sharing Agreement</h3>
<div class="agreement-text">
    <p>{{uploadAgreement}}</p>
</div>
<div class="buttons">
    <button class="cancel button">Cancel</button>
    <button class="submit positive button">Confirm</button>
</div>
