@import "theme.scss";

#welcome-module {
  .intro-text {
    color: $default-text-color;
    font-size: 14px;
    line-height: 1.5em;
    text-align: center;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  p {
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.2;
  }

  .button {
    padding: 5px 7px;
  }
}
