<div class="buttons">
    <button class="button action get-account-data">Get Account Data</button>
    <button class="button action set-client-data">Set Client Data</button>
    <button class="button action get-client-data">Get Client Data</button>
</div>

<textarea class="output" cols="50" rows="10"></textarea>