<header class="module-header gs-draggable">
    <h2>
        Profile Not Found
    </h2>

    <div class="module-actions">
        <a class="close-view square-button" href="#">
            Close
        </a>
    </div>
</header>
<section class="module-content">
    <div class="alert-box alert" data-alert>This profile was not found.</div>
</section>