<div class="avatar">
    {{#if error}}
        <div class="alert alert-box error">
            <p>{{error}}</p>
        </div>
    {{/if}}
</div>
<div class="buttons">
    <button class="button cancel">Cancel</button>
    {{#unless error}}
        <button class="button submit positive">Save</button>
    {{/unless}}
</div>