<div class="row social-messages">
    <p class="columns large-12">
        <div class="message-to-delete"></div>
    </p>
</div>
<div class="row buttons">
    <div class="small-6 small-offset-6">
        <a class="button delete right negative">Delete</a>
        <a class="button cancel right">Cancel</a>
    </div>
</div>