<div class="modal-share">
    <div class="reshare-top">
        <div class="reshare-icon"></div>
        <div class="title-wrap">
            <span class="add-comment">Add Comment</span>
            <span class="reshare-title"> to this post.</span>
        </div>
        <div class="share-comment textarea-input hidden"></div>
    </div>
    <div class="message-to-share"></div>
    <div class="content-separator"></div>
    <div class="buttons">
        <button class="cancel button">Cancel</button>
        <button class="share positive button">Share</button>
    </div>
</div>
