<div class="new-message-indicator hidden">
</div>
<div class="quick-move-button hidden">
</div>
<div class="messages-scroll module-scrollable">
    <div class="content">
        {{> enum-social-messages }}
    </div>
    <div class="load-more">
        <span class="load-more-available loading"><span class="load-more-label">Load more</span></span>
        <span class="load-more-unavailable hidden">No more messages to show</span>
    </div>
</div>
