<div class="new-features-content">
    <div class="new-feature row small-12">
        <div class="columns small-4">
            <img src="http://placehold.it/400x250.png">
        </div>
        <div class="columns small-8 new-feature-text">
            <h4>File Uploads</h4>
            <p>
                Body text body text Body text body text Body text body text Body text body text Body text body text Body text body text
            </p>
        </div>
    </div>
    <div class="new-feature row small-12">
        <div class="columns small-4">
            <img src="http://placehold.it/400x250.png">
        </div>
        <div class="columns small-8 new-feature-text">
            <h4>Blast Message</h4>
            <p>
                Body text body text Body text body text Body text body text Body text body text Body text body text Body text body text
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="button-actions">
        <a class="cancel button" href="#">Cancel</a>
        <a class="button submit" href="#">Got it!</a>
    </div>
</div>
