<div class="module-options">
    <ul class="with-title">
        {{#if userIsOwner}}
        <li><a class="show-deactivation-confirmation" href="#">Deactivate</a></li>
        {{else}}
        <li><a href="#" class="leave-room">Leave Room</a></li>
        {{/if}}
        <li><a href="#" class="search">Search This Room</a></li>
        <li class="float_pop_out"><a href="#" class="float-view">Pop-Out</a></li>
        <li class="float_pop_in"><a href="#" class="unfloat-view">Pop-In</a></li>
        <li>
            {{#if userIsOwner}}
            <a class="show-manage-membership" href="#">Manage Members</a>
            {{else}}
            <a class="show-manage-membership" href="#">Members</a>
            {{/if}}
        </li>
        <li><a href="#" class="show-settings">Settings</a></li>
    </ul>
    <ul class="without-title">
        {{#if userIsOwner}}
        <li><a class="show-deactivation-confirmation" href="#" data-tooltip="Deactivate"
               data-tooltip-position="bottom right"></a></li>
        {{else}}
        <li><a class="leave-room" href="#" data-tooltip="Leave Room" data-tooltip-position="bottom right"></a></li>
        {{/if}}
        <li><a href="#" class="search" data-tooltip="Search This Room" data-tooltip-position="bottom right"></a></li>
        <li class="float_pop_out"><a href="#" class="float-view" data-tooltip="Pop-Out"
                                     data-tooltip-position="bottom right"></a></li>
        <li class="float_pop_in"><a href="#" class="unfloat-view" data-tooltip="Pop-In"
                                    data-tooltip-position="bottom right"></a></li>
        <li>
            {{#if userIsOwner}}
            <a class="show-manage-membership" href="#" data-tooltip="Manage Members"
               data-tooltip-position="bottom right"></a>
            {{else}}
            <a class="show-manage-membership" href="#" data-tooltip="Members" data-tooltip-position="bottom right"></a>
            {{/if}}
        </li>
        <li><a href="#" class="show-settings" data-tooltip="Settings" data-tooltip-position="bottom right"></a></li>
    </ul>
</div>