<div class="text-content">
    <p>Are you sure you want to deactivate the room "{{name}}"?</p>
    <p>You can reactivate it at any time.</p>
</div>
<div class="buttons">
    <a class="cancel button close" href="#">Cancel</a>
    <a class="button submit negative" href="#">Deactivate</a>
</div>