<ul class="with-title">
    <li class="float_pop_out"><a href="#" class="float-view">Pop-Out</a></li>
    <li class="float_pop_in"><a href="#" class="unfloat-view">Pop-In</a></li>
</ul>
<ul class="without-title">
    <li class="float_pop_out"><a href="#" class="float-view" data-tooltip="Pop-Out" data-tooltip-position="bottom right"></a></li>
    <li class="float_pop_in"><a href="#" class="unfloat-view" data-tooltip="Pop-In" data-tooltip-position="bottom right"></a></li>
</ul>