<div class="person-row">
    <div class="avatar-wrap">
        <img src="{{imageUrl}}" alt=""/>
    </div>
    <div class="identity">
        <h3>{{name}}</h3>
        <p>{{screenName}}</p>
    </div>
</div>