$go-post-icon-url: 'go/post.png';
$go-im-icon-url: 'go/im.png';
$go-room-icon-url: 'go/room.png';
$go-filter-icon-url: 'go/filter.png';
$go-blast-icon-url: 'go/blast.png';

$go-post-hover-icon-url: $go-post-icon-url;
$go-im-hover-icon-url: $go-im-icon-url;
$go-room-hover-icon-url: $go-room-icon-url;
$go-filter-hover-icon-url: $go-filter-icon-url;
$go-blast-hover-icon-url: $go-blast-icon-url;

$go-action-text-color: white;
$go-action-background-color: transparent;
$go-action-hover-background-color: #25292f;
$go-action-hover-text-color: white;
