<h3>
    {{title}}
</h3>
<div class="legal-notice-text">{{text}}</div>
<div class="row">
    <div class="button-actions">
        <a class="button submit right" href="#">Agree</a>
    </div>
</div>