@import "../../../../../styles/variables.scss";
@import "theme.scss";

.agreement-text {
  margin-top: 10px;
  padding-top: 15px;
  margin-left: 14px;
  padding-bottom: 15px;
  margin-bottom: 20px;

  border-top: 1px solid $modal-content-separator-color;
  border-bottom: 1px solid $modal-content-separator-color;

  p {
    margin: 0 0 0.5em 0;
    line-height: 1.3em;
    color: $default-text-color;
    font-size: 13px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
