<span class="rich-content excel-table-token" contenteditable="false" plugin-name="{{entityName}}" plugin-value="{{richContent}}">
    <span class='token-entity'>
        <span class="table-icon"></span>
        <p class="token-heading">{{heading}}</p>
        <span class="delete" href="#"></span>
        <span class="open" href="#"></span>
    </span>
</span>
