@import "theme.scss";
@import "sass-list-maps";

@mixin button($button) {
    .button.#{map-get($button, name)} {
        background-color: map-get($button, background-color);
        color: map-get($button, text-color);
        box-shadow: unquote(map-get($button, drop-shadow));
        margin-bottom: 0;
        font-size: 12px;

        &:hover {
            background-color: map-get(map-get($button, hover), background-color);
            color:  map-get(map-get($button, hover), text-color);
        }

        &:active {
            background-color: map-get(map-get($button, active), background-color);
            color:  map-get(map-get($button, active), text-color);
        }
    }
}
