$token-background-color: #dce0e0;
$token-border-color: darken($token-background-color, 10%);
$token-text-color: #83888a;
$token-clickable-text-color: #3393fc;

$token-error-background-color: #dce0e0;
$token-error-text-color: #82888a;

$download-token-icon-url: 'download.png';