<h3>
    {{title}}
</h3>
<div class="reconnect-text">An interruption in the connection has been detected. Click "OK" to reconnect immediately, or be reconnected automatically in approximately 90 seconds.</div>
<div class="button-actions">
    <div class="small-6 columns small-offset-6">
        <a class="button submit right" href="#">Ok</a>
    </div>
</div>