<ul class="ftue-tabs">
    <li class="active"><a href="#">Introduction</a></li>
    <li><a href="#">Messaging</a></li>
    <li><a href="#">Social</a></li>
    <li><a href="#">Using the Grid</a></li>
    <li><a href="#">Who's Available</a></li>
</ul>

<div class="content">
    <div class="tab-content active">
        <h4>Symphony ushers in a new era for business messaging</h4>

        <p>Collaborate with colleagues, control multiple streams of content,
            and stay on top of it all. Symphony brings you to what matters faster.</p>
        <img class="ftue-content-img" src="./img/ftue/following-combined.png"/>
    </div>
    <div class="tab-content">
        <h4>Chatrooms and instant messages</h4>

        <p>Use instant messages for private conversations with your contacts. Utilize chatrooms to
            build communities around topics, and protect your sensitive data by configuring chatrooms as private.</p>
        <img class="ftue-content-img" src="./img/ftue/createIM.png"/>
    </div>
    <div class="tab-content">
        <h4>Reach a broad audience with your message</h4>

        <p>Post a message publicly. Follow users and have users follow you
            to build your network. Use hashtags and cashtags so that your message is picked up by users filtering on
            those keywords.
            Mention a user to attract their attention or give a rich link to their profile.</p>
        <img class="ftue-content-img" src="./img/ftue/profile-edith.png"/>
    </div>
    <div class="tab-content">
        <h4>Organize your workspace</h4>

        <p>Click and hold on the top header of a view to see where you can place it, and then drag and drop into any
            positions in the grid. Pin a view to keep it from being replaced.</p>
        <img class="ftue-content-img" src="./img/ftue/grid.PNG"/>
    </div>
    <div class="tab-content">
        <h4>Integrated presence</h4>

        <p>See which contacts are online, busy, or away. Look at read receipts to determine who
            is reading your messages. Watch for typing indicators to see who's composing a message in a chatroom or
            instant message.</p>
        <img class="ftue-content-img" src="./img/ftue/presence.PNG"/>
        <img class="ftue-content-img" src="./img/ftue/typing.PNG"/>
    </div>
</div>