$module-pin-button: (
    name pin-view,
    inactive-module (
        background-color #d1d1d1,
        icon 'modules/pin-inactive-module.png',

        hover (
            background-color lighten(#d1d1d1, 5%),
            icon 'modules/pin-inactive-module.png'
        ),

        active (
            background-color darken(#d1d1d1, 5%),
            icon 'modules/pin-inactive-module.png'
        )
    ),
    active-module (
        background-color #92c18b,
        icon 'modules/pin-active-module.png',

        hover (
            background-color lighten(#92c18b, 5%),
            icon 'modules/pin-active-module-active.png'
        ),

        active (
            background-color #41683b,
            icon 'modules/pin-active-module-hover.png'
        )
    )
);

$module-close-button: (
    name 'close-view, .module-header .remove',
    inactive-module (
        background-color #d1d1d1,
        icon 'modules/close-inactive-module.png',

        hover (
            background-color lighten(#d1d1d1, 5%),
            icon 'modules/close-inactive-module.png'
        ),

        active (
            background-color darken(#d1d1d1, 5%),
            icon 'modules/close-module.png'
        )
    ),
    active-module (
        background-color #d4585f,
        icon 'modules/close-active-module.png',

        hover (
            background-color lighten(#d4585f, 5%),
            icon 'modules/close-active-module-hover.png'
        ),

        active (
            background-color darken(#d4585f, 5%),
            icon 'modules/close-active-module-active.png'
        )
    )
);

$module-pinned-button: (
    name 'pin-view.pinned',
    inactive-module (
        background-color #41683b,
        icon 'modules/pinned-active-module.png',

        hover (
            background-color #41683b,
            icon 'modules/pinned-active-module.png'
        ),

        active (
            background-color #41683b,
            icon 'modules/pinned-active-module.png'
        )
    ),
    active-module (
        background-color #41683b,
        icon 'modules/pinned-active-module.png',

        hover (
            background-color #41683b,
            icon 'modules/pinned-active-module.png'
        ),

        active (
            background-color #41683b,
            icon 'modules/pinned-active-module.png'
        )
    )
);

$module-show-more-button: (
    name show-more,
    inactive-module (
        background-color #d1d1d1,

        hover (
            background-color lighten(#d1d1d1, 5%)
        ),

        active (
            background-color darken(#d1d1d1, 5%)
        )
    ),
    active-module (
        background-color darken(#577db1, 5%),

        hover (
            background-color darken(#577db1, 3%)
        ),

        active (
            background-color darken(#577db1, 8%)
        )
    )
);

$module-action-buttons: (
  (
    name show-deactivation-confirmation,
    icon-url 'modules/deactivate.png',
    hover-icon-url 'modules/deactivate-hover.png',
    active-icon-url 'modules/deactivate-active.png'
  ),
  (
    name float-view,
    icon-url 'modules/popout.png',
    hover-icon-url 'modules/popout-hover.png',
    active-icon-url 'modules/popout-active.png'
  ),
  (
    name unfloat-view,
    icon-url 'modules/popin.png',
    hover-icon-url 'modules/popin-hover.png',
    active-icon-url 'modules/popin-active.png'
  ),
  (
    name leave-room,
    icon-url 'modules/leave.png',
    hover-icon-url 'modules/leave-hover.png',
    active-icon-url 'modules/leave-active.png'
  ),
  (
    name show-manage-membership,
    icon-url 'modules/members.png',
    hover-icon-url 'modules/members-hover.png',
    active-icon-url 'modules/members-active.png'
  ),
  (
    name show-settings,
    icon-url 'modules/settings.png',
    hover-icon-url 'modules/settings-hover.png',
    active-icon-url 'modules/settings-active.png'
  ),
  (
    name search,
    icon-url 'modules/search.png',
    hover-icon-url  'modules/search-hover.png',
    active-icon-url 'modules/search-active.png'
  ),
  (
    name edit-rules,
    icon-url 'modules/edit.png',
    hover-icon-url 'modules/edit-hover.png',
    active-icon-url 'modules/edit-active.png'
  )
);

.module-actions .show-more.opened {
  background-color: #2a3f5b !important;

  &:after {
    border-bottom-color: #577db1 !important;
  }
}

$module-show-more-button-active-module-caret-color: #304765;
$module-show-more-button-inactive-module-caret-color: #6f6f6f;

$module-member-tag-background-color: #6fcb75;
$module-member-tag-hover-background-color: lighten($module-member-tag-background-color, 5%);
$module-member-tag-active-background-color: darken($module-member-tag-background-color, 5%);
$module-member-tag-text-color: #274729;

$module-active-header-text-color: white;
$module-active-background-color: #f5f5f5;
$module-active-header-background-color: #638dc4;
$module-active-subheader-background-color: lighten(#6f98d0, 8%);
$module-active-drop-shadow: 0 0 5px rgba(110,110,110,0.3);
$module-active-border-color: #7096c9;

$module-inactive-background-color: #f3f3f3;
$module-inactive-header-background-color: white;
$module-inactive-subheader-background-color: #e4e4e4;
$module-inactive-drop-shadow: 0 0 5px rgba(110,110,110,0.3);
$module-inactive-border-color: transparent;
$module-inactive-button-background-color: #d1d1d1;
$module-inactive-header-text-color: #6f6f6f;

$module-inactive-subheader-text-color: white;
$module-active-subheader-text-color: white;

$module-border-radius: 2px;

.module {
    .module-content div.module-options {
        left: -1px;
        right: -1px;
        width: auto;
    }
}
