$go-post-icon-url: 'go/post-blue.png';
$go-im-icon-url: 'go/im-blue.png';
$go-room-icon-url: 'go/room-blue.png';
$go-filter-icon-url: 'go/filter-blue.png';
$go-blast-icon-url: 'go/blast-blue.png';

$go-post-hover-icon-url: 'go/post-white.png';
$go-im-hover-icon-url: 'go/im-white.png';
$go-room-hover-icon-url: 'go/room-white.png';
$go-filter-hover-icon-url: 'go/filter-white.png';
$go-blast-hover-icon-url: 'go/blast-white.png';

$go-action-text-color: #8a8a8a;
$go-action-background-color: transparent;
$go-action-hover-background-color: #6f97cb;
$go-action-hover-text-color: white;