//naming convention: <feature>-<element>-<state>-<type>
//so the variable for the left nav item hover text color would be
//$leftnav-item-hover-text-color

$quick-action-background-background-color: rgba(18, 20, 24, 0.56);
$quick-action-background-border-radius: 2px;

$quick-action-input-background-color: #f1f1f1;
$quick-action-input-border-color: transparent;
$quick-action-input-box-shadow: none;
$quick-action-input-text-color: #1c1f26;
$quick-action-input-hint-text-color: #939393;

$quick-action-dropmenu-text-color: #1c1f26;
$quick-action-dropmenu-item-background: #f1f1f1;
$quick-action-dropmenu-item-selected-text-color: #1c1f26;
$quick-action-dropmenu-item-selected-background: #ffffff;
$quick-action-dropmenu-item-selected-letter-font-weight: 800;
$quick-action-dropmenu-search-option-text-color: #898f9d;
