<p>Forgot your password? No worries. Enter your e-mail below and we'll send you a link to reset it.</p>

<input placeholder="Enter your e-mail" type="text" id="email" />
<div class="captcha"></div>
<input value="Reset my password" type="submit"  />
<a class="login small" href="#login">&laquo; Back to login</a>