<div id="easy-post">
  <div class="easy-post-triangle"></div>
  <div class="easy-post-content">
    <h4>Create Post</h4>
    <div class="easy-post-editor">
    {{!-- insert textInput subview here --}}
    </div>
    <div class="easy-post-buttons">
      <a class="button cancel" id="easy-post-cancel">Cancel</a>
      <div class="button positive" id="easy-post-submit">Send</div>
    </div>
  </div>
</div>