$colors: (#b5616a, #ab8ead, #96d8fa, #a3be77, #91bb4c, #ebc875, #995d0f, #e23030, #b2b2b2);

$grid-token-allowed-background-color: rgba(88, 198, 255, 0.5);
$grid-token-active-background-color: #ebc875;
