$popover-background-color: #2b303b;
$popover-border-style: 1px solid #1c1f26;
$popover-drop-shadow: 0 0 6px rgba(28,31,38,0.28);

$popover-link-hover-background-color: lighten($popover-background-color, 10%);
$popover-link-text-color: #cacaca;

$hover-profile-image-section-background-color: transparent;