$search-popover-background-color: #262a34;
$search-popover-drop-shadow: 0 1px 2px rgba(0,0,0,0.48);

$search-popover-resultset-border-color: #1d2026;
$search-popover-resultset-background-color: #21252d;

$search-popover-cursor-background-color: #2d303b;
$search-popover-cursor-text-color: inherit;
