@import "./typography";

$table-border-color: transparent;
$table-header-text-color: $section-item-header-text-color;
$table-header-background-color: transparent;
$table-odd-background-color: transparent;
