<input type="text" id="add-person" class="mousetrap" placeholder="Search for people by name">

<div class="buttons">
    <a class="cancel button" href="#">Cancel</a>
    <a class="submit button disabled" href="#">Done</a>
</div>
