{{#if hasUsers}}
<header>
    <h3>Who do you speak to frequently?</h3>
    <h4>We'll make sure that they are easily accessible from your navigation bar.</h4>
</header>
<ul class="users">
    <li class="see-more">
        <span class="label">See More</span>
    </li>
</ul>
{{else}}
    <div class="spinner"></div>
{{/if}}
