<div class="intro-text">
Symphony merges messaging, filtering, search and so much more. Please allow us to introduce some of our basic features to get you started -- it will just take a moment!
</div>
<p><a class="take-tour button positive" href="#">Take Tour</a></p>
<p><a class="close cancel button" href="#">Skip Tour</a></p>
