<ul id="go-actions">
    <li><button class="im">IM</button></li>
    <li><button class="room">Room</button></li>
    <li><button class="filter">Filter</button></li>
    <li><button class="blast">Blast</button></li>
</ul>
<p><a class="close" href="#">Cancel (Esc)</a></p>