@import "../../../../../styles/variables.scss";
@import "../../../../../styles/mixins/inputs.scss";

.go-room {
  label {
    line-height: 1;
    margin-bottom: 6px;
  }

  input[type=text] {
    @include full-width-input();
    margin-bottom: 10px;

    &.error {
      border: 1px solid $token-error-background-color;
    }
  }

  ul {
    li {
      &.options-border {
        border-top: 1px solid $create-chatroom-divider;
        padding-top: 10px;
        }

      &.hidden {
        display: none;
      }

      label {
        p:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
