<div class="progress-container processing">
    <div class="status">
        <div class="failed-remove"></div>
        <div class="icon-status"></div>
        <p class="percent-status">0%</p>
    </div>
    <progress class="upload-progress" max="100" value="0"></progress>
    <p class="file-name">{{name}} <span class="failed-reason"></span></p>
    <div class="right-action">
        <div class="delete"></div>
    </div>
</div>