<div class="modal-sheet flat {{modalName}}">
    <div class="modal-container">
        <header>
            <h2>{{title}}</h2>
            {{#if subtitle}}
                <h3>{{subtitle}}</h3>
            {{/if}}
        </header>
        <div class="modal-content"></div>
    </div>
</div>
