<div id="go-post">
    <div class="message textarea-input"></div>
    <div class="buttons">
        <button class="cancel button">Cancel</button>
        <button class="send button disabled">Post</button>
    </div>
</div>
