$status-available-color: #6bc465;
$status-away-color: #ebc875;
$status-busy-color: #e85959;
$status-offline-color: #757a84;

$workspace-blue-background: #2b303b;
$module-blue-background: #22252d;
$module-blue-border: #1c1f26;
$module-blue-header-background: #181b21;
$module-blue-header-lightbg: #20242c;
$module-blue-background-hover: #323844;

$list-blue-average: #232830;
$list-blue-highlight: #252a33;
$list-hover-bg: #2b303b;
$list-hover-border: #757a84;
$list-selected-color: #a3be77;
$list-selected-border: #cedca6;
$list-text-color: #c5c7cb;

$app-logo-background: #181b21;
$header-blue-background: #1c1f26;
$header-create-new-outer-bg: #1b1e25;

$modal-background: #2b303b;
$modal-alt-background: #282d37;

$textfield-blue-disabled-background: #242932;
$textfield-blue-inactive-background: #313743;
$textfield-blue-background: #313743;

$divider-line-dark: #1c1f26;
$divider-line-light: #292c33;

$header-blue-button-background: #181b21;
$header-blue-button-hover-background: #2b303b;
$header-blue-button-active-background: #121419;
$header-blue-button-active-border: #272c35;

$button-blue-dark-background: #121419;
$button-blue-dark-hover-background: #2b303b;
$button-blue-dark-active-background: #121419;
$button-blue-dark-active-border: #272c35;

$filter-button-blue: #323741;
$filter-button-blue-hover: #383e49;
$filter-button-blue-active: #2c313a;
$filter-button-dropdown: #2b303b;

$text-title-color: #cdcdcd;
$text-default-discreet-color: #757a84;
$text-default-color: #ffffff;

$grey: #eee;
$light-grey: #c9c9c9;
$dark-grey: #8a8a8a;

$tour-arrow-grey: #46494b;

$colorscheme-purple: #ab8ead;
$colorscheme-red: #b5616a;
$colorscheme-yellow: #ebc875;
$colorscheme-green: #a3be77;
$colorscheme-blue: #58c6ff;
$colorscheme-orange: #ebab58;

$favorites-orange: #ebaa58;

$white: #fff;
$black: #000;

$notification-red: #e23030;

$accepted-color: #a3be77;
$warning-color: #ac5c5c;
$warning-dull-color: #b5616a;
$warning-bright-color: #ec6464;
$info-color: #58c6ff;
$new-color: #ebc875;

$create-new-green: #91bb4c;
$create-new-yellow: #ebc875;

$presence-available: #75c26b;
$presence-offline: #757a83;
$presence-away: #ebc875;
$presence-busy: #e85959;

$typing-indicator-color: #b2b5bb;

$twitter-blue: #4099FF;
$gs-blue: #6f97cb;