.simple-grid-widget {
  width: 100%;
  height: 100%;

  .gs-draggable {
    cursor: default;
  }

  .chat-message {
    .chat-username {
      cursor: default;

    }
  }

  .msg-entity {
    cursor: default;

    &:hover {
      text-decoration: none;
    }
  }

}
