<section>
    <h2 class="logo">Welcome to Symphony</h2>
</section>
<footer>
    <div class="actions-wrap">
        <ol class="state">
            <li class="active"><span>People</span></li>
            <li><span>Filters</span></li>
            <li><span>Done</span></li>
        </ol>
        <button>Skip</button>
    </div>
</footer>
