@keyframes nodeInserted {
  from {
    outline-color: #fff;
  }
  to {
    outline-color: #000;
  }
}

@-moz-keyframes nodeInserted {
  from {
    outline-color: #fff;
  }
  to {
    outline-color: #000;
  }
}

@-webkit-keyframes nodeInserted {
  from {
    outline-color: #fff;
  }
  to {
    outline-color: #000;
  }
}

@-ms-keyframes nodeInserted {
  from {
    outline-color: #fff;
  }
  to {
    outline-color: #000;
  }
}

@-o-keyframes nodeInserted {
  from {
    outline-color: #fff;
  }
  to {
    outline-color: #000;
  }
}