<div class="messages-scroll module-scrollable">
    {{#unless isContextual}}
    <div class="load-more">
        <span class="load-more-available button"><i class="icon-arrow-up"></i><span class="load-more-label">Load more</span></span>
        <span class="load-more-unavailable hidden">No more messages to show</span>
    </div>
    {{/unless}}
    <div class="content">
    </div>
</div>
<div class="new-message-indicator hidden">
</div>
<div class="quick-move-button hidden">
</div>
<div class="typing-indicator hide">
    <img class="typing-indicator-icon" src="./img/icons/icon_typing.png">
    <span class="typing-indicator-text"></span>
</div>
