{{#if msgCount}}
<div class="date-group" data-date="{{date}}">
    <div class="date-group-header">
        <div class="date-group-header-text">
            {{dateText}} (<span>{{msgCount}}</span> message{{#if moreThanOneMessage}}s{{/if}})
        </div>
    </div>
    <div class="date-group-content">
    </div>
</div>
{{/if}}