<div class="msg-gap">
    <div class="gap-load-more down">
        <span class="gap-load-more-available down"><i class="icon-arrow-down">&nbsp;</i><span class="load-more-label">Load more</span></span>
    </div>
    <div class="gap-load-more up">
        <span class="gap-load-more-available up"><i class="icon-arrow-up">&nbsp;</i><span class="load-more-label">Load more</span></span>
    </div>
</div>