<!--<div class="row small-12">-->
    <!--<div class="row">-->
        <!--<div class="small-12 column">-->
            <!--<label for="show-notification">-->
                <!--<input id="show-notification" type="checkbox" {{#if config.showNotification}}checked="checked"{{/if}}/> <b>Pop-up Alert Settings</b> Show notification-->
            <!--</label>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<div class="small-6 columns small-offset-6">-->
            <!--<a class="button submit right save-settings" href="#">Done</a>-->
            <!--<a class="cancel right" href="#">Cancel</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->